@import '~ngx-toastr/toastr';

.toolbar-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 400;

    .current-account {
        font-size: 14px;
    }
}