
.toolbar-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 300;

    .plane {
        margin-right: 20px;
        font-size: 36px;
    }

    .current-address {
        font-weight: 300;
        font-size: 20px;
        margin-right: 100px;
        font-weight: 400;
    }

    .balance {
        font-weight: 300;
        font-size: 20px;
        font-weight: 400;
    }
}

.operational-status {
    align-items: center;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    height: 30px;

    &.active {
        background-color: green;
    }
    &.paused {
        background-color: grey;
    }

    &.disconnected {
        background-color: red;
    }
}