h2 {
    margin-top: 10px;
    text-align: center;
}

.tx-container {
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    font-family: Roboto;
    color: white;
    display: block;
    justify-content: left;
    width: 95%;
    padding: 20px;
    margin-left: 10px;

}